@inherits LayoutComponentBase
@inject NavigationManager _navigationManager;
@inject CustomAuthenticationStateProvider _customAuthenticationStateProvider;

<PageTitle>ParkingManagementBlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-primary" @onclick="LogOut">Log Out</button>
                </Authorized>
                <NotAuthorized>
                    <button title="Register" class="btn btn-primary" @onclick="ShowRegisterForm">
                        <span class="fa fa-sign-in"></span>
                        Register
                    </button>
                    <button class="btn btn-primary" @onclick="ShowLoginForm">Log In</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private void ShowLoginForm()
    {
        _navigationManager.NavigateTo("Login");
    }
     private void ShowRegisterForm()
    {
        _navigationManager.NavigateTo("Register");
    }
    protected async Task LogOut()
    {
        await _customAuthenticationStateProvider.RemoveItem("authToken");
        _navigationManager.NavigateTo("/");
    }
}
