@inherits LayoutComponentBase
@inject NavigationManager _navigationManager;

<PageTitle>ParkingManagementBlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button title="Log In" class="btn btn-primary" @onclick="ShowLoginForm">
                <span class="fa fa-sign-in"></span>
                Log in
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private void ShowLoginForm()
    {
        _navigationManager.NavigateTo("Login");
    }
}
